lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# vagrant (only Achal is using this right now)
.vagrant
Vagrantfile

# audio files
audio/*
!audio/README.md

# node
npm-debug.log
node_modules

public/stylesheets/*css

*.mp3
*.wav
