<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <title>Pokepon!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <style>
      html, body { height: 100%; width: 100%; margin: 0; }
    </style>
  </head>
  <body>
    <script>
      //w=87,a=65, s=83, d=68
      var attackDict = [];
      var acceptedKeyCodes = [87, 65, 83, 68];
      attackDict['scratch'] = [87,87,87,87]; //wwww
      attackDict['block'] = [65,65,83,65]; //aasa
      attackDict['paralyze'] = [83,65,87,68]; //sawd
      timesBasic = 0
      var sequenceSoFar = [];
      var count = 0;
      console.log("count reset to zero");

      function successfulPokemonAttack(pokemon, attack) {
        $("div#textbox").text(pokemon + " successfully used " + attack + "!");
      }

      $(function () {
        connectGame();

        $(document).keyup(function (e) {
          // console.log(e.timeStamp);
          console.log("entered: " + e.keyCode);
          if ($.inArray(e.keyCode, acceptedKeyCodes) == -1) {
            return;
          }
          var beatTimeStamp = new Date().getTime(); //for now, until beat provided by Hai  
          //console.log(beatTimeStamp);
          if (!isAccuratePress(beatTimeStamp, e.timeStamp, 500)) {
            console.log("NOT ACCURATE ENOUGH!");
            sequenceSoFar=[];
          }
          sequenceSoFar.push(e.keyCode);
          if (e.keyCode == attackDict['block'][count]) {
            console.log("don't reset, iterate count");
            count = count + 1;
            console.log(count, attackDict['block'].length);
            if (count == attackDict['block'].length) {
              console.log("BLOCK");
              //call to appropriate func
              successfulPokemonAttack("Evee", 'BLOCK');
              sequenceSoFar = [];
              count = 0;
            }
          }
          else if (e.keyCode == attackDict['scratch'][count]) {
            console.log("second don't reset");
            count = count + 1;
            console.log(count, attackDict['scratch'].length);
            if (count == attackDict['scratch'].length) {
              console.log("SCRATCH");
              var youpokemonel = $('#youpokemon')[0];
              youpokemonel.style.WebkitTransform = "scaleX(-1) translateX(-200px)";
              var transitionendhandler = function(event) {
                youpokemonel.style.WebkitTransform = "scaleX(-1)";
                youpokemonel.removeEventListener("transitionend", this);
              }
              youpokemonel.addEventListener("transitionend", transitionendhandler, true);
                            successfulPokemonAttack("Evee", 'SCRATCH');
              sequeneSoFar =[];
              count = 0;
            }
          } 
          else if (e.keyCode == attackDict['paralyze'][count]) {
            console.log("third don't reset");
            count = count + 1;
            console.log(count, attackDict['scratch'].length);
            if (count == attackDict['scratch'].length) {
              console.log("PARALYZE");
              successfulPokemonAttack("Evee", 'PARALYZE');
              sequenceSoFar = [];
              count = 0;
            }
          }

          else {
            sequenceSoFar=[];
            console.log("reset sequence");
            count = 0;
          }


          //given a timestamp of a beat, and timestamp of a keypress, and maxdelta, check if the difference is under maxdelta
          function isAccuratePress(beatTimeStamp, keyPressTimeStamp, maxDelta) {
            if ( Math.abs(beatTimeStamp - keyPressTimeStamp) <= maxDelta) {
              return true;
            }
            return false;
          }

          //Stephanie Highlight Code
          //timeBasic for Scratch Attack:
          //use Sequence so far to make sure it doesn't have junk before or after
          if (e.keyCode == 87  && timesBasic == 0){
            document.getElementById("firstbasic").style.background = "#f00";
            timesBasic++;
          }
          else if (e.keyCode == 87  && timesBasic == 1){
            document.getElementById("secondbasic").style.background = "#f00";
            timesBasic++;
          }
          else if (e.keyCode == 87 && timesBasic == 2){
            document.getElementById("thirdbasic").style.background = "#f00";
            timesBasic++;
          }
          else if (e.keyCode == 87 && timesBasic == 3){
            document.getElementById("fourthbasic").style.background = "#f00";
            timesBasic++;
          }
          console.log("sequenceSoFar: " + sequenceSoFar);
          // for (var attack in attackDict) {

            //   //if (isEqual(sequenceSoFar, attackDict[attack])) {
              //   //  console.log("ATTACK!");
              //   //  sequenceSoFar = [];
              //   //  setTimeout(function(){document.getElementById("firstbasic").style.background = "#222";
                //   //  document.getElementById("secondbasic").style.background= "#222";
                //   //  document.getElementById("thirdbasic").style.background = "#222";
                //  document.getElementById("fourthbasic").style.background = "#222";
                //  timesBasic = 0;}, 500);

              function isEqual(arr1, arr2) {
                console.log("comparing: ", arr1,  arr2);
                if (arr1.length != arr2.length) {
                  return false;
                  for (var i = 0; i < arr1.length; i = i +1) {
                  }
                  if (arr1[i] != arr2[i]) {
                    return false;
                  }
                }
                //console.log("the arrays are equal");
                return true;
              }
            });
          });
        </script>
        <div align = center>
          <div class = "character" id = "youcharacter" height = "100%">
            <div class = "vdivider" id = "vyoudivider">
            </div>
            <div id = "username">
              <h1>
                melaniec
              </h1>
            </div>
            <div class = "hdivider"></div>
            <div id = "textbox">
              A wild pokemon appeared!
            </div>
            <div align = "center" style="width: 100%; height: 60%;">
              <img class = "pokemon" id = "youpokemon" src = "http://static.tumblr.com/yeaa5gt/TTGmngvye/009.gif"></img>
            </div>
            <div align = right>
              <div class = "healthbar" id = "youhealthbar">
                <div class = "healthy" id = "youhealthy"></div>
              </div>
            </div>
            <div class = "hdivider"></div>
            <div id = "moves">
              <h2><u>moves</u></h2>
              basic attack: <div class = "keyboard" id = "firstbasic">W</div><div class = "keyboard" id = "secondbasic">W</div><div class = "keyboard" id = "thirdbasic">W</div><div class = "keyboard" id = "fourthbasic">W</div>
            </div>
          </div>
          <div class = "character" id = "opponentcharacter">
            <div class = "vdivider" id = "vopponentdivider">
            </div>
            <div id = "username">
              <h1>
                sdjidjev
              </h1>
            </div>
            <div class = "hdivider"></div>
            <div align = "center" style="width: 100%; height: 60%;">
              <img class = "pokemon" id = "opponentpokemon" src = "http://static.tumblr.com/yeaa5gt/i0imngwcd/359.gif"></img>
            </div>
            <div align = left>
              <div class = "healthbar" id = "opponenthealthbar">
                <div class = "healthy" id = "opponenthealthy"></div>
              </div>
            </div>
            <div class = "hdivider"></div>
          </div>
        </div>
      </body>
    </html>
