<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <title>Pokepon!</title>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="/javascripts/client.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>
      var attack = [87,87,87,87]; //W key
      var sequenceSoFar = [];
      $(function () {
        $(document).keyup(function (e) {
          //console.log(e.timeStamp);
          //console.log(e.keyCode);
          var beatTimeStamp = new Date().getTime(); //for now, until beat provided by Hai  
          //console.log(beatTimeStamp);
          if (!isAccuratePress(beatTimeStamp, e.timeStamp, 500)) {
            console.log("NOT ACCURATE ENOUGH!");
            sequenceSoFar=[];
          }
          sequenceSoFar.push(e.keyCode);
         // console.log(sequenceSoFar);
          if (isEqual(sequenceSoFar, attack)) {
            console.log("ATTACK!");
            sequenceSoFar = [];
          }
          //below is a bit hacky for now, will have to reset sequence another way later on
          if (sequenceSoFar.length > attack.length) {
            sequenceSoFar=[];
          }

        });
      });

      function isEqual(arr1, arr2) {
       console.log(arr1, arr2);
        if (arr1.length != arr2.length) {
          return false;
        }
        for (var i = 0; i < arr1.length; i = i +1) {
          if (arr1[i] != arr2[i]) {
            return false;
          }
        }
        //console.log("the arrays are equal");
        return true;
      }
      //given a timestamp of a beat, and timestamp of a keypress, and maxdelta, check if the difference is under maxdelta
      function isAccuratePress(beatTimeStamp, keyPressTimeStamp, maxDelta) {
        if ( Math.abs(beatTimeStamp - keyPressTimeStamp) <= maxDelta) {
          return true;
        }
        return false;
      }

    </script>
    <div align = center>
      <div class = "character" id = "youcharacter">
        <div class = "vdivider" id = "vyoudivider">
        </div>
        <div id = "userame">
          <h1>
            myUsername
          </h1>

        </div>
        my stuff

      </div>
      <div class = "character" id = "opponentcharacter">
        <div class = "vdivider" id = "vopponentdivider">
        </div>
        <div id = "userame">
          <h1>
            opponentUsername
          </h1>
        </div>

        my stuff
        <br>
        yes
        <br>
        my stuff
      </div>

  </div>
  </body>
</html>
