<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <title>Pokepon!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="/javascripts/lobby.js"></script>
  </head>
  <body bgcolor="#BFB">
    <div align = "center" height = "100%">
      <div id = "logobox">
        <img src = "/img/pokepon_logo.png" height = "240px"></img>
      </div>
    </div>
    <a href="/games/create">Start a new game</a>
    <ul id="gamesList">
  </body>
</html>
