<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <title>Pokepon!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align = center>
      <a href="/games/create">Start a new game</a>
    </div>
    <ul>
      <% for (var key in games) { %>
        <li><%= key %></li>
      <% } %>
  </body>
</html>
