body {
  height: 100%;
  font-family: 'Ropa Sans', sans-serif;
}
html {
  height: 100%;
}
h1 {
  font-weight: 400;
  font-size: 50px;
  padding-top: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #252;
}
.character {
  position: fixed;
  height: 100%;
  width: 50%;
  float: left;
  background-color: #BBFBBB;
  top: 0;
  padding-bottom: 100%;
}
#textbox {
  display: inline;
  float: right;
  text-align: left;
  padding: 20px;
  background-color: #DDFBDD;
  color: #252;
  border-left: solid 1px #A9BA9D;
  border-bottom: solid 1px #A9BA9D;
}
#moves {
  text-align: left;
  margin: 10px;
}
.keyboard {
  background: #222;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: white;
  text-align: center;
  line-height: 2em;
  border-radius: 2px;
  margin-right: 3px;
}
h2 {
  text-align: center;
  color: #252;
  font-size: 27px;
  margin: 0;
}
.pokemon {
  margin-top: 20%;
  position: relative;
  display: inline;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.moved {
  transform: translateX(70);
}
#youpokemon {
  height: 65%;
  float: center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#opponentpokemon {
  height: 65%;
  float: center;
}
.healthbar {
  margin: 10px;
  background-color: #ED1C24;
  width: 15em;
  height: 20px;
  border: solid 1px #595;
}
#youhealthbar {
  margin-right: 20px;
}
.healthy {
  position: relative;
  background-color: #50C878;
  height: 20px;
}
#youhealthy {
  width: 70%;
  float: left;
}
#opponenthealthy {
  width: 60%;
  float: right;
}
#opponenthealthbar {
  margin-left: 20px;
}
#username {
  top: 0;
  margin: 5px;
  margin-bottom: 5px;
}
#youcharacter {
  left: 0;
}
#opponentcharacter {
  right: 0;
}
.vdivider {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 3px;
  float: right;
  background-color: #A9BA9D;
}
.hdivider {
  height: 6px;
  width: 100%;
  background-color: #A9BA9D;
  position: relative;
}
#vyoudivider {
  float: right;
}
#vopponentdivider {
  float: left;
}
a {
  color: #00B7FF;
}
